build
dist / media
node_modules
node_modules_bk
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Local Netlify folder
.netlify
